<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#576CBC" />

    <link
      rel="apple-touch-icon"
      href="/src/public/icons/android-launchericon-192-192.png"
    />
    <link rel="icon" href="./favicon.ico" />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Resto App</title>
  </head>
  <body>
    <a href="#mainContent" class="skip__content">Skip to content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">19-Restaurant App</h1>
        <button id="menu" class="header__menu" href="#">☰</button>
      </div>
    </header>
    <nav id="drawer" class="nav__wrap">
      <ul class="nav__list">
        <li class="nav__item"><a href="/#">Home</a></li>
        <li class="nav__item"><a href="#/favorite">Favorite</a></li>
        <li class="nav__item">
          <a href="https://www.linkedin.com/in/fabianus-kevin-406285231/" target="_blank">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1>Awesome Dish</h1>
        <p>Only Serve The Best Quality Foods</p>
      </div>
    </div>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>Copyright © 2023 - Restaurant Apps</p>
    </footer>
  </body>
</html>
